.flex-container {
    display: flex;
}

.box {
    width: 100%;
    padding: 20px;
}

.signUpText {
    color: #012A93;
    font-family: 'Raleway';
}

.contentDiv {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    padding: 20px;
}

.headingtop {
    background: #012A93;
    padding: 10px;
    color: #fff;
}

.formDiv {
    width: 460px;
}

.error {
    color: red;
    font-size: 10px;
    margin-bottom: 0px;
}

.sideNavbar {
    width: 200px;
    background-color: #cccccc;
    min-height: 93vh;
}

.sundayTechBtn {
    background-color: #012A93;
    border-color: #012A93;
    box-shadow: none
}

.sundayTechBtn:hover {
    background-color: #012A93!important;
    border-color: #012A93!important;
}

.sideMenuItems {
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
    color: #000;
}

.btn-check:active+.btn-primary:focus,
.btn-check:checked+.btn-primary:focus,
.btn-primary.active:focus,
.btn-primary:active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 1px rgb(10 88 202)!important;
}

.sideMenuItems:hover {
    background-color: #012A93;
    color: #fff
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #fff;
    background-color: #012A93;
    border-color: #012A93;
}

.itemBg {
    background-color: #012A93;
    color: #fff;
}

.content {
    padding: 20px;
    height: 392px;
    background: #f8f8f8;
    width: 400px;
    margin: 6px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 1px 1px #d2c8c8;
}

.inputError {
    border-color: red;
    margin-bottom: 0px;
}

.bannerImg {
    width: 100%;
    background-image: url('../public/assets/img/banner.png');
    height: 100vh;
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}